
@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-中粗-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-中粗-繁.ttf');
}

@font-face {  
    font-family: 'PingFangSC-Medium';
    src: url('./pingfangziti/苹方黑体-中黑-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-中黑-繁.ttf');
}

@font-face {  
    font-family: 'PingFangSC-Regular';
    src: url('./pingfangziti/苹方黑体-准-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-准-繁.ttf');
}

@font-face {  
    font-family: 'PingFangSC-Light';
    src: url('./pingfangziti/苹方黑体-极细-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-极细-繁.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-纤细-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-纤细-繁.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-细-简.ttf');
}

@font-face {  
    font-family: 'BEBA';
    src: url('./pingfangziti/苹方黑体-细-繁.ttf');
}